Written by Nikita Belooussov
<br>Path to data file was changed

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from scipy.stats import pearsonr
import nltk
from nltk.metrics import jaccard_distance
nltk.download('punkt')

In [ ]:
dt = pd.read_csv('/content/drive/My Drive/ihlt/test-gold/STS.input.SMTeuroparl.txt',sep='\t',header=None)       #Path to data file

In [ ]:
dt.head()

                                                   0                                                  1
0  The leaders have now been given a new chance a...  The leaders benefit aujourd' hui of a new luck...
1  Amendment No 7 proposes certain changes in the...  Amendment No 7 is proposing certain changes in...
2  Let me remind you that our allies include ferv...  I would like to remind you that among our alli...
3        The vote will take place today at 5.30 p.m.                 The vote will take place at 5.30pm
4  The fishermen are inactive, tired and disappoi...  The fishermen are inactive, tired and disappoi...

In [ ]:
dt['gs'] = pd.read_csv('/content/drive/My Drive/ihlt/test-gold/STS.gs.SMTeuroparl.txt',sep='\t',header=None)             #Path to data file
dt.shape
dt.head()

                                                   0  ...    gs
0  The leaders have now been given a new chance a...  ...  4.50
1  Amendment No 7 proposes certain changes in the...  ...  5.00
2  Let me remind you that our allies include ferv...  ...  4.25
3        The vote will take place today at 5.30 p.m.  ...  4.50
4  The fishermen are inactive, tired and disappoi...  ...  5.00

[5 rows x 3 columns]

In [ ]:
#pearsonr(dt['gs'], dt['jaccard'])[0]
totDist=[]
for j in range(len(dt[1])):
    x=nltk.word_tokenize(dt[0][j])
    y=nltk.word_tokenize(dt[1][j])
    totDist.append(1-jaccard_distance(set(x),set(y)))
dt['jaccard']=totDist
print(dt[['jaccard', 'gs']])

print("\nPearson Correlation Between gold standard and jaccard:")
print(pearsonr(dt['gs'], dt['jaccard'])[0])

      jaccard     gs
0    0.346154  4.500
1    0.785714  5.000
2    0.391304  4.250
3    0.545455  4.500
4    1.000000  5.000
..        ...    ...
454  0.550000  5.000
455  0.357143  4.750
456  0.400000  5.000
457  0.318182  4.000
458  0.500000  3.833

[459 rows x 2 columns]

Pearson Correlation Between gold standard and jaccard:
0.4504977169318684

This result makes sense due to both measuring the similarities between the two phrases. The Jaccard method clearly will not produce the same value as the gold standard and most likely performces worse than it. As a result, there should be a correlation between the two results, as seen and it should be positive, which is also demonstrated. Since it would not make sense for one result to be better if the other is worse.